.uk-panel{
    width: 70%;
    height: 80vh;
}

.title{
    margin: 0px;
}

.uk-form-row{
    margin-left:40px;
    text-align: left;
    margin-top: 2px;

}

.uk-form-medium{
    border-radius: 10px;
}

#subject, #message{
    width: 90%;
}

#nomPrenom{
    width: 40%;
}

.submit{
    text-align: center;
}





