@font-face {
    font-family: 'Jaimes_Blues';
    src: url('assets/fonts/Jaime_Blues.ttf');
}

.uk-navbar-container {
    height: 60px;
}

.uk-navbar-left {
    padding-left: 20px;
}

.uk-navbar-right {
    padding-right: 20px;
}


/* banniere */
img {
    width: 100%;
    height: 100vh;
}

.uk-overlay h1 {
    margin-top: 40px;
    font-family: 'Jaimes_Blues';
    font-size: 180px;
    color: white;
    text-align: center;
}

.uk-overlay h2 {
    margin-top: 280px;
    font-family: 'Arial';
    font-size: 35px;
    color: white;
    text-align: center;
}

.uk-overlay p {
    margin-top: 400px;
    font-family: 'Arial';
    font-size: 25px;
    color: white;
    text-align:center;
}

.uk-button {
    margin-top: 450px;
    font-weight: bold;
    background-image: linear-gradient(to right, #64083e,#DA8CDC);
    border-radius: 10000px;
    color: white;
}


/* presentation */

.uk-grid{
    width: 100%;
    height: 90vh;
}

.phone{
    align-self: center;
    text-align: center;
}

#phone{
    width: auto;
    height: 60vh;
}

#information{
    align-self: center;
}

.information{
    margin-top: 40px;
    text-align: center;
}

.secondSlide{
    background-image: url("assets/imgs/live-concert.jpg");
}

.info{
    align-self: center;
    color: white;
}

#info{
    margin-left: 40px;
}

.cercle{
    width: 100%;
    height: 40vh;
}

.etape{
    text-align: center;
    align-self: center;
}

.cercleChiffre{
    text-align: center;
    align-self: center;
    height: 150px;
    width: 150px;
    border-radius: 80px;
    font-weight: bold;
    font-size: 100px;
    color:white;
    background-image: linear-gradient(to right, #64083e,#DA8CDC);
}

/*Media querie */




